<!DOCTYPE html><!--お問い合わせフォームの表示内容を定義する。-->
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>お問い合わせフォーム</title>
</head>
<body><!--フォーム画面（/form）-->
	<h2>お問い合わせフォーム</h2>
	
    <form th:action="@{/form}" th:object="${contactForm}" method="post">
        <table>
		<label>お名前</label>
        <input type="text" th:field="*{name}"><br>
		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span><br>
		
        <label>メールアドレス</label>
        <input type="text" th:field="*{email}"><br>
		<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></span><br>
		
		<label text-align: left>お問い合わせ内容</label>
       
		<textarea th:field="*{message}" cols="30" rows="10" ></textarea><br>
		<span th:if="${#fields.hasErrors('message')}" th:errors="*{message}" style="color: red;"></span><br>
		
        <button type="submit">送信</button>	
		</table>
    </form>
	
	<!--<p th:if="${emailError}" th:text="${emailError}" style="color: red;"></p>
	<p th:if="${messageError}" th:text="${messageError}" style="color: red;"></p>-->
</body>
</html>

<!--お問い合わせフォームの表示内容を定義する。
名前
（name）	input	type="text"	未入力であればNG
メールアドレス
（email）	input	type="text"	未入力であればNG／メールアドレス形式でなければNG
お問い合わせ内容
（message）	textarea	cols="30"（横幅30文字）
rows="10"（縦幅10文字）	未入力であればNG
メールアドレスのtype属性はtextとしてください。
type属性をemailとすればHTMLのバリデーションを行えますが、今回はフォームクラスで設定しましょう。
ビューで各入力項目のデータを取得する場合、${contactForm.getName()}のようにフォームクラスのゲッターを使ってください。
${contactForm.name}のような参照方法も可能ですが、オブジェクト指向のカプセル化の考えに反するため非推奨です

-->